<!-- recipe_catalog/about.html -->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Описание страницы">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="icon" href="fav.ico" type="image">
        <title>О сервисе</title>
    </head>
    <body>
        <header>
            <nav class="w3-bar w3-black">
                <!-- Меню (навигация) -->
                <a href="/" class="w3-bar-item w3-button">Главная страница</a>
                <a href="about/" class="w3-bar-item w3-button">О проекте</a>
            </nav>
        </header>
        <h1>Рецепты и их описание</h1>
        <p>Тут вы можете узнать о различных рецептах и посмотреть подробную информацию о них!!!</p>
    </body>
</html>